<div class="container mt-5">

    <!-- heading and navigation -->
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <h1>Promotions</h1>
    </li>
    <% categories.forEach(category => { %>
        <li class="nav-item">
            <a class="nav-link" href="#"><%= category.categoryName %></a>
          </li>
    <% }) %>
    </li>
  </ul>

  <div class="row m-4">
    <% promo.forEach(promo => { %>
        <div class="col-sm-6 col-md-4 col-lg-3">
            <a href="/details/<%= promo.bookId %>" class="card-link">
                <div class="book-card">
                    <img src="http://localhost:5001/<%= promo.bookCover %>" alt="" class="bookimg d-block mx-auto">
                    <div class="book-content mt-3">
                        <h4 class="price">₿<%= promo.bookPromo %></h4>
                        <p class="title"><%= promo.bookTitle %></p>
                        <p class="author"><%= promo.bookAuthor %></p>
                        <a href="#" class="cart">ADD TO CART</a>
                        <i class="bi bi-heart ms-2"></i>
                  </div>
                </div>
            </a>
         
        </div>
    <% }) %>
   
    <!-- <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="book-card">
            <img src="../assets/images/n5.jpg" alt="" class="bookimg d-block mx-auto">
            <div class="book-content mt-3">
                <h4 class="price">฿100</h4>
                <p class="title">How to cat a monster</p>
                <p class="author">Adam Wallet</p>
                <a href="#" class="cart">ADD TO CART</a>
                <i class="bi bi-heart ms-2"></i>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="book-card">
            <img src="../assets/images/n5.jpg" alt="" class="bookimg d-block mx-auto">
            <div class="book-content mt-3">
                <h4 class="price"><span>฿200</span> &nbsp;฿100</h4>
                <p class="title">How to cat a monster</p>
                <p class="author">Adam Wallet</p>
                <a href="#" class="cart">ADD TO CART</a>
                <i class="bi bi-heart ms-2"></i>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="book-card">
            <img src="../assets/images/n5.jpg" alt="" class="bookimg d-block mx-auto">
            <div class="book-content mt-3">
                <h4 class="price">฿100</h4>
                <p class="title">How to cat a monster</p>
                <p class="author">Adam Wallet</p>
                <a href="#" class="cart">ADD TO CART</a>
                <i class="bi bi-heart ms-3"></i>
            </div>
        </div>
    </div> -->
  </div>
</div>
